@inject IJSRuntime JSRuntime
@page "/"

<style>
    .imafg {
        position: relative;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

<div>
    <h3 id="heading">Face Recognition</h3>
    <video id="video" width="320" height="240" autoplay></video>
    <button id="clickphoto">Click Photo</button>
    <canvas id="canvas" width="320" height="240"></canvas>
    <div id="imageshow" class="imafg"></div>
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeAsync<String>("Facerecognition", "video", "canvas");
    }
}

